<h2>List Passenger</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nama</th>
    <th scope="col">Kota</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; let i=index">
    <th scope="row">{{i + 1}}</th>
    <td>{{item.nama}}</td>
    <td>{{item.kota}}</td>

    <td>
      <button type="button" (click)="edit(i, item)" class="btn btn-success btn-sm">Edit</button>
      <button type="button" (click)="delete(i)" class="btn btn-danger btn-sm">Delete</button>
    </td>
  </tr>

  </tbody>
</table>
